@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background: url("/bg1.svg") center / cover no-repeat;
    font-family: 'Neucha', cursive;
    color: #3a0015;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.welcome {
    width: 90%;
}

.welcome a {
    display: flex;
    gap: 10px;
    max-width: fit-content;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 7px 35px;
    background-color: #ffa6de;
    color: #3a0015;
    border: #3a0015 3px solid;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}


.welcome a:hover {
    background-color: #ffc2e9;
}

.welcome a svg {
    height: 30px;
    fill: #3a0015;
}